<!DOCTYPE html>
<html>
  <head>
    <title>Crkmug</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 </head>

  <body>
    <%= yield %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
